.navbar {
    height: 100%;
    display: flex;
    align-items: center;

    background: #ffec3f;
    padding: 10px;
}

.logo {
    width: 80px;
    cursor: pointer;
}

.left-nav {
    list-style: none;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;

    text-align: left;
    position: relative;
    left: 3%;
}

.left-nav li {
    display: inline-block;
    margin: 0 15px;
}

.left-nav li a {
    text-decoration: underline 1px rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.left-nav li a:hover {
    text-decoration: underline 1px rgba(0, 0, 0, 1);
}

.right-info {
    list-style: none;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;

    text-align: right;
    position: relative;
    right: 5%;
}

.right-info li {
    display: inline-block;
    margin: 0 15px;
}

ul li a {
    color: black;
}