.bottom-navbar {
    height: 100%;
    background: #ffec3f;    

    padding: 20px;

    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;

    text-align: center;
}

.left {
    position: relative;
    left: 10%;
}

.bottom-navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.bottom-navbar ul li {
    margin: 0 5px;
    
    position:relative;
    right: 20%;
}






